<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Cydeo</title>
</head>
<body>

<div align="center">

<!--    th:action is defined for the submit button. It defines what will happen when the submit button clicked. We said here go to mentor confirm view. And we add method="post" because we will see in the future at APIs that we can create post and get methods with the same endpoints. -->
    <form th:action="@{/mentor/confirm}" method="post" th:object="${mentor}">  <!--We attach mentor object to form here by creating it at the controller class and then take here as a variable by th:object -->

        <label>First Name:</label>
        <input type="text" th:field="*{firstName}"><br><!--By th:field and *{} we said that what the user write to input will be assigned to mentor object's first name field.-->

        <label>Last Name:</label>
        <input type="text" th:field="*{lastName}"><br>

        <label>Email:</label>
        <input type="email" th:field="*{email}"><br>

        <label>Graduated:</label>
        <input type="checkbox" th:field="*{graduated}"><br>

        <label>Gender:</label>
        <input type="radio" value="Male" th:field="*{gender}">Male
        <input type="radio" value="Female" th:field="*{gender}">Female<br>

        <label>Batch Number:</label>
        <select th:field="*{batch}">
            <option th:each = "theBatch : ${batchList}" th:value="${theBatch}" th:text="${theBatch}" ></option>
        </select><br>

        <label>Company:</label>
        <textarea th:field="*{company}"></textarea><br>

        <button type="submit">Register</button>



    </form>

</div>

</body>
</html>